<!DOCTYPE html>
<html>
  <head>
    <!--
    <script async src="https://www.googletagmanager.com/gtag/js?id=GTM-WJPDMC7"></script>
    -->
    
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WJPDMC7');</script>
    <!-- End Google Tag Manager -->

    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}

      // Default ad_storage to 'denied'.
      gtag('consent', 'default', {
        'ad_storage': 'denied',
        'analytics_storage': 'denied',
        'wait_for_update': 500 //,
        //'region': ['US-CA', 'EU']
      });


      gtag('js', new Date());
      gtag('config', 'GTM-WJPDMC7');
    </script>

    <!-- TODO this section should be updated based on your business requirements. -->
    <script>
      function consentGranted() {
        gtag('consent', 'update', {
          'ad_storage': 'granted'
        });
      }
    </script>


    <title>Gotconsent</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <!--
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WJPDMC7"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    -->
    <!-- End Google Tag Manager (noscript) -->

    <%= yield %>
  </body>
</html>
